
/* START MOBILE VIEWPORT */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

/* START BODY */
body {
    background-color: #F5E2C8;
}

header {
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 80px;
}

.header-left-content {
    margin-left: 25px;
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.header-right-content {
    margin-right: 6%;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.header-right-content a {
    color: #F4FDAF;
    text-decoration: none;
    font-weight: bold;
    padding-right: 40px;
    font-size: 10px;
    padding-top: 10%;
}


/* START MAIN */
main {
    color: #6D1A36;
    position: relative;
}   

.intro {
    margin-top: 15px;
}

.hello {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.i-am {
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 1.5rem;
    color: #230C0F;
    opacity: .75;
}

.checkout a {
    padding: 10px;
    font-size: .9rem;
    text-decoration: none;
    background-color: #F4FDAF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Start of contact-page styling */
.contact-container {
    margin-bottom: 25%;
}

.contact {
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.connect {
    font-size: .8rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.say-hello {
    width: 150px;
    padding: 10px;
    margin: 0 auto;
    font-size: 1.1rem;
    background-color: #F4FDAF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End of contact-page styling */


/* Start of blog-page styling */

main h1 {
    margin: 5% 0 0 10%;
}

.blogs {
    display: flex;
    flex-direction: column;
    margin: 0 10% 10% 10%;
    justify-content: space-between;
    align-items: center;
}

.blog-item {
    width: 300px;
    height: auto;
    background-color: #F4FDAF;
    margin: 15px;
    padding: 20px;
}

.blog-category {
    margin-bottom: 5px;
}

.blog-title {
    margin-bottom: 10px;
    color: rgba(35, 12, 15,.75);
}

.blog-content {
    font-size: 0.8rem;
    padding-bottom: 15px;
    text-align: justify;
}

.blog-timestamp {
    font-size: 0.8rem;
    padding-top: 15px;
}

.blog-image {
    display: flex;
    justify-content: center;
}
/* End of blog-page styling */

/* START FOOTER */
footer {
    position: absolute;
    width: 100%;
    bottom: 40px;
}


.social-media {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    position: relative;
}


.mini-circle {
    width: 50px;
    height: 50px;
    background-color: #F4FDAF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}


.mini-circle-a {
    display: flex;
    align-items: center;
    text-decoration: none;
    z-index: 1;
}
    
i {
    color: rgba(35,12,15,.40);
}

.line {
    height: 3px;
    background: #F4FDAF;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }

/*Start blog-page mobile only styling */
.footer-blog {
    position: relative;
    width: 100%;
    bottom: 40px;
}

.line-blog {
    width: 100%;
    height: 3px;
    background: #F4FDAF;
    top: 50%;
    left: 0;
    right: 0;
    position: absolute;
  }

.social-media-blog {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    position: relative;
}

.mini-circle-blog {
    width: 50px;
    height: 50px;
    background-color: #F4FDAF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.mini-circle-a-blog {
    display: flex;
    align-items: center;
    text-decoration: none;
    z-index: 1;
}
    
i {
    color: rgba(35,12,15,.40);
}


/*End blog-page mobile only styling */

/* END FOOTER */

/* END MOBILE VIEWPORT */

/* START DESKTOP VIEWPORT */

@media screen and (min-width:1281px) {

    /* START BODY */
    header {
        margin-top: 20px;
        display: flex;
        align-items: center;
        padding: 20px;
        height: 80px;
    }
    
    .header-left-content {
        margin-left: 25px;
        display: flex;
        justify-content: flex-start;
        flex: 1;
    }
    
    .header-right-content {
        margin-right: 6%;
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }
    
    .header-right-content a {
        color: #F4FDAF;
        text-decoration: none;
        font-weight: bold;
        padding-right: 40px;
        font-size: 20px;
        padding-top: 10%;
    }
    
    .header-nav-list {
        display: flex;
        justify-content: space-between;
    }
    /* END BODY */

    /* START MAIN */
    main {
        color: #6D1A36;
        padding: 80px;
        position: relative;
    }   

    .intro {
        padding-left: 25%;
        padding-top: 10%;
    }

    .hello {
        font-size: 2.2em;
    }

    .i-am {
        margin-top: 5px;
        margin-bottom: 30px;
        font-size: 2.2rem;
        color: #230C0F;
        opacity: .75;
    }

    .checkout a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 25px;
        padding-left: 25px;
        font-size: 1.5rem;
        text-decoration: none;
        background-color: #F4FDAF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


/* Start of contact-page styling */
.contact-container {
    padding: 10% 28%;
}
.contact {
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.connect {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.say-hello {
    width: 230px;
    font-size: 1.8rem;
}

/* End of contact-page styling */



/* START SECTION */

       .line-right-desktop {
        background: #F4FDAF;
        position: fixed;
        width: 3px;
        height: 60%;
        left: 93%;
        bottom: 0;
       }
/* END SECTION */

/* Start of blog-page styling */
main h1 {
    margin: 0 0 5% 15%;
}

.blogs {
    margin: 0 10% 10% 10%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}

.blog-item {
    width: 300px;
    height: auto;
    background-color: #F4FDAF;
    margin: 15px;
    padding: 20px;
}

.blog-category {
    margin-bottom: 5px;
}

.blog-title {
    margin-bottom: 10px;
    color: rgba(35, 12, 15,.75);
}

.blog-content {
    font-size: 0.8rem;
    padding-bottom: 15px;
    text-align: justify;
}

.blog-timestamp {
    font-size: 0.8rem;
    padding-top: 15px;
}

.blog-image {
    display: flex;
    justify-content: center;
}
/* End of blog-page styling */

    /* START FOOTER */

    footer {
        width: 200px;
        height: 400px;
        left: 10px;
        bottom: 0;
    }

    .social-media {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        position: relative;
        align-items: center;
        height: 100%;
        justify-content: space-evenly;
        padding-top: 10%;
        padding-bottom: 0;
    }

    .mini-circle {
        width: 40px;
        height: 40px;
    }

    .line {
        width: 3px;
        height: 100%;
        left: 50%;
        top: 0;
    }


/* END FOOTER */


/* END DESKTOP VIEWPORT */
