
/* start viewport styling */

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

/* end viewport styling */


/* start nav bar styling */

.navigation {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: darkgreen;
    padding: 10px;
}

.logo {
    display: flex;
    flex: 1;
}

.nav-list {
    display: flex;
    flex: 1;
    list-style: none;
    justify-content: space-between;
}

/* end nav bar styling */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
}

.hello {
    background-color: pink;
    font-size: 2em;
   
}

.developer {
   display: flex;
   align-items: center;
   justify-content: center;
}

/*start footer styling*/

.footer {
    display: flex;
    padding: 10px;
    /* align-items: flex-end; */
    /* justify-content: space-between; */
}

.left-content {
    display: flex;
    flex: 2;
}

.right-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
}
/*end footer styling*/